#main {
    width: 500px;
    font-family: monospace;
    font-size: 15px;
    margin: 0 auto;
    color: black;
    background: white;
}

img.book {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

h1.title {
    font-weight: bold;
}

h5.release {
    color: white;
    background: black; 
    text-align: right;
    text-decoration: bold;
}

.important {
    font-weight: bold;
}

.styled {
    font-style: italic;
}

li {
    list-style-type: none;
}

h2, h3 {
    background: black;
    color: white;
}

h2 a {
    text-decoration: none;
    color: white;
}

.end {
    color: black;
    background: black;
}
