#main {
    max-width: 650px;width: 95%;
    margin-left:auto;margin-right:auto;
    height: 100%;
}

h1, h2, h3, h4, h5, a{
    background: black;
    color: white;
}

h1 {
    font-size: 3em;
}

.section h1 {
    font-size: 2em;
}

.figure {
    display:flex;
    justify-content:center;
    align-items:center;
}

li {
    padding-bottom: 7px;
    list-style-type: square;
}

.literal {
    background: #DDD;
    border-radius: 3px;
    font-size: 1.25em;
}

.section .center {
    text-align: center
}
