#main {
    width: 500px;
    font-family: monospace;
    font-size: 15px;
    margin: 0 auto;
    color: black;
    background: white;
}

li {
    list-style-type: none;
}

.end {
    color: black;
    background: black;
}

hr {
    height: 14px;
    background-color: black;
}

h1 {
    color: black;
    background: white;
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section h1 {
    color: white;
    font-size: 25px;
    background: black;
}

.section a {
    color: white;
    font-size: 25px;
    background: black;
}

.section img {
    padding-top: 20px;
    padding-bottom: 15px;
    margin: 0 auto;
    display: block;
}
