<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link rel='stylesheet' type='text/css' href='style.css'>

    </head>
    <body>
        <div id=main>
            <h1>{{ site_title }}</h1>
            <h5>{{ release }}</h5>
            {% for i in range(preamble|length) %}
                <p>{{ preamble[i] }}</p>
            {% endfor %}
            <h3><i>{{ tagline }}</i></h3>

            <h2>This Month: <a href='{{ this_month_link }}'><i>{{ this_month_book }}</i></a></h2>
            <p>Start Date: <b>{{ start_date }}</b> :: End Date: <b>{{ end_date }}</b></p>
            <p>Meetup Place: {{ meetup_location }}</p>

            <h3>Timeline:</h3>
            <p>{{ disclaimer }}</p>
            <ul>
            {% for i in range(pacing|length) %}
                <li>{{ pacing[i] }}</li>
            {% endfor %}
            </ul>
            <p>{{ encouragement }}</p>

            <h3>{{ explanation_title }}</h3>
            {% for i in range(explanation|length) %}
                <p>{{ explanation[i] }}</p>
            {% endfor %}
        </div>

    </body>
</html>
